:root {
  --backgroundone: rgba(248,248,248,255);
  --backgroundtwo: rgba(254,254,254,255);

  --blue: rgba(85,150,244,255);
  --darkblue: rgb(41, 54, 228);
  --red: rgba(229,79,80,255);
  --blacknav: rgba(34,32,28,255);
  --blackparagraf: rgba(32,34,32,255);
  
  --blueframe: rgba(76,123,195,255);
  --framebackgroundcolor: rgba(245,245,245,255);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;  
  /* font-family: 'Gill Sans', Helvetica, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

body { background-color: var(--backgroundone); }

nav { background-color: var(--blacknav); }

.body {
  height:100vh;
  display: inline-block;
}

.containerOfPhones {  
  text-align: center;
}

.containerOfPhones h1 {  
  font-size: 2.5rem;  
}

.ofItems {
  height:100vh;
  padding: 3rem;
}

.ofItems p, h1, h2 {
  padding: 12px;
}

.ofItems h2 {
  padding-top: 0px;
  padding-bottom: 16px;
}

.ofItems p {
  font-size: 1.2rem;
  font-weight:bold;
  letter-spacing: -0.5px;
}

.ofItems button i {
  margin-right: 22px;
}

.ofItems button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
}

.ofItems button:hover{
  background-color: var(--darkblue);
}

.ofItems:nth-child(odd) {
  background-color: var(--backgroundtwo);
}

.ofItems img{
  height: 80%;
}
  
